.header{
    /* position: sticky;
    top: 0; */
    z-index: 100;
    background-color: #263238;
}

.header_content{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.header_logo{
    position: relative;
    width: 80px;
    height: 80px;
}